<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />

	<!-- TODO: REMOVE IN PROD, but safer to have it for now -->
	<meta name="robots" content="none">
</head>
<body>
	<header class="header">
		{% if page.fileSlug === '' %}
			<h1 class="header-title">#CompteurDeGrève</h1>
		{% else %}
			<a class="header-title" href="{{ '/' }}">#CompteurDeGrève</a>
		{% endif %}
	</header>
	<main class="main">
	{{ content | safe }}
	</main>
	<footer class="footer">
		<div class="footer-container container">
			<a href="/mentions-legales">Mentions légales</a>
		</div>
	</footer>
</body>
</html>
