
<meta name="description" content="Le 7 mars, l’intersyndicale appelle à une grève nationale contre la réforme des retraites. Vous venez ?">

<meta property="og:image:width" content="1203">
<meta property="og:image:height" content="630">
<meta property="og:title" content="Ajoutez +1 au compteur de gr&egrave;ve.">
<meta property="og:description" content="Le 7 mars, l&rsquo;intersyndicale appelle &agrave; une gr&egrave;ve nationale contre la r&eacute;forme des retraites. Vous venez ?">
<meta property="og:url" content="https://compteur-de-greve.guerilla.studio/">
<meta property="og:image" content="https://compteur-de-greve.guerilla.studio/img/og-image.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Ajoutez +1 au compteur de grève">
<meta name="twitter:description" content="Le 7 mars, l’intersyndicale appelle à une grève nationale contre la réforme des retraites. Vous venez ?">
<meta name="twitter:image" content="https://compteur-de-greve.guerilla.studio/img/twitter-card.png">
