  <link rel="preload" href="/img/hand-left.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/img/hand-right.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/fonts/Inter-Black.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin />
