# dependencies installed by npm
node_modules

# build artifacts
public

# secrets and errors
.env
.log

# macOS related files
.DS_Store


netlify/functions/serverless/*
!netlify/functions/serverless/index.js
netlify/functions/dynamic/*
!netlify/functions/dynamic/index.js
