// -------------------------------------------------------------
// content
// -------------------------------------------------------------

.content {
  padding: 5rem;
  padding: clamp(2rem, 3.5vw, 5rem);
  background-color: $color-bg-1;
}

.content :where(h2, h3, h4) {
  font-weight: 600;
}
