// -------------------------------------------------------------
// footer
// -------------------------------------------------------------

.footer {
  padding: 2.5rem 0;
  background-color: $color-1;
  color: $color-light-text;
  font-size: 1.6rem;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer a {
  color: $color-light-text;
}
