// -----------------------------------------------------------
// == Highlighter decoration style components
// -----------------------------------------------------------

// Zigzag
// --------------------------------------------------------------

.highlighter-zigzag {
  position: relative;
}

.highlighter-zigzag::before {
  position: absolute;
  top: 100%;
  width: 100%;
  padding-top: calc(100% * (81 / 247));
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='247' height='81' fill='none'%3E%3Cpath stroke='#{$color-yellow-1}' stroke-linecap='round' stroke-linejoin='round' stroke-width='14' d='M240 7c-76.2.8-159 5.5-233 16.5 61.3 3.2 188.9 10.6 208.5 15-41.3 3.2-127.1 14.6-139.5 35'/%3E%3C/svg%3E");
  background-position: top center;
  background-size: contain;
  content: "";
}

// Underline
// --------------------------------------------------------------

.highlighter-underline {
  position: relative;
  z-index: 1;
}

.highlighter-underline::before {
  position: absolute;
  z-index: -1;
  top: 60%;
  width: 100%;
  padding-top: calc(100% * (27 / 118));
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='118' height='27' fill='none'%3E%3Cpath stroke='#{$color-yellow-1}' stroke-linecap='round' stroke-linejoin='round' stroke-width='14' d='M110.8 7.2C68.9 12.8 49.3 12.4 7.5 18.7c40.8-5.3 60.6-5.5 103.4.3'/%3E%3C/svg%3E");
  background-position: top center;
  background-size: contain;
  content: "";
}
