@use "sass:color";

// Notification module
// Namespace : .notif

// -------------------------------------------------------------
// configuration
// -------------------------------------------------------------

$notif-success: $color-green;
$notif-warning: $color-yellow;
$notif-error: $color-red;

// -------------------------------------------------------------
// module
// -------------------------------------------------------------

.notif {
  padding: 2rem;
  padding: 2rem 3rem;
  border: 0.2rem solid currentcolor;
  font-size: 1.6rem;
  line-height: 1.3em;
}

// Colors
// --------------------------------------------------------------

.notif--success {
  border-color: $notif-success;
  background-color: color.adjust($notif-success, $saturation: + 21%, $lightness: + 40%);
  color: color.adjust($notif-success, $saturation: + 8%, $lightness: - 34%);
}

.notif--warning {
  border-color: $notif-warning;
  background-color: color.adjust($notif-warning, $saturation: + 21%, $lightness: + 40%);
  color: color.adjust($notif-warning, $saturation: + 8%, $lightness: - 34%);
}

.notif--error {
  border-color: $notif-error;
  background-color: color.adjust($notif-error, $saturation: + 21%, $lightness: + 40%);
  color: color.adjust($notif-error, $saturation: + 8%, $lightness: - 34%);
}

// Sizes
// --------------------------------------------------------------

.notif--small {
  padding: 1rem 1.5rem;
}

// Special
// --------------------------------------------------------------

.notif--successPlusOne {
  position: relative;
}

.notif--successPlusOne::before {
  position: absolute;
  content: "";
}
