// -------------------------------------------------------------
// palette
// --------------------------------------------------------------

$hue-purple: 258deg;
$hue-pink: 328deg;
$hue-yellow: 56deg;
$hue-green: 137deg;
$color-purple-1: hsl($hue-purple 55% 25%);
$color-purple-2: hsl($hue-purple 39% 40%);
$color-purple-3: hsl($hue-purple 25% 65%);
$color-pink-1: hsl($hue-pink 93% 44%);
$color-pink-2: hsl($hue-pink 62% 46%);
$color-yellow-1: hsl($hue-yellow 100% 53%);

// -------------------------------------------------------------
// layout
// -------------------------------------------------------------

$color-bg-1: hsl(0deg 100% 99%);
$color-gradient-1: radial-gradient(100% 100% at 0% 0%, $color-purple-1 10.36%, #C82E79 77.03%, #D33238 94.73%);

// -------------------------------------------------------------
// utility
// -------------------------------------------------------------


$color-info: #2185d0;
$color-red: #de350b;
$color-green: hsl($hue-green, 68%, 56%);
$color-yellow: #ffdd57;

// -------------------------------------------------------------
// text
// -------------------------------------------------------------

$color-light-text: hsl($hue-purple 40% 99%);
$color-dark-text: $color-purple-1;

// -------------------------------------------------------------
// links
// -------------------------------------------------------------

$color-link: $color-purple-1;
