// -------------------------------------------------------------
// colors
// -------------------------------------------------------------

.color-purple-1 { color: $color-purple-1; }
.color-purple-2 { color: $color-purple-2; }
.color-pink-1 { color: $color-pink-1; }
.color-pink-2 { color: $color-pink-2; }
.color-yellow-1 { color: $color-yellow-1; }

.color-red { color: $color-red; }
.color-green { color: $color-green; }
