---
layout: base.njk
title: Compteur de grève
permalink:
    serverless: /
---
<section class="banner" x-data="counter" data-initial-count="{{count}}">
	<div class="banner-layout">
		<div class="counter-container">
			<article class="counter">
				<h1 class="visually-hidden">Compteur de Grève</h1>
				<p>
					<span class="color-pink-2 pb05 inline-block counter-content">Contre la réforme des retraites,</span><br>
					À l’appel de l’ensemble des organisations syndicales, <span class="color-purple-1">le 7 mars</span>
					<span aria-live="polite">
						<strong class="counter-number" x-bind="counter">{{count | formatNumber}}</strong>
						<span class="separator counter-content">personnes seront</span>
						<em class="counter-strikeeeee-lol highlighter-zigzag">en grève<span class="visually-hidden"> !</span></em>
					</span>
				</p>
			</article>
		</div>
		<article class="w100 maxw380px sm:maxw100 text-center">
			<h2 class="title-1 mt0">Et <span class="highlighter-underline">vous</span>&nbsp;?</h2>
			<div class="flex flex-col">
				{# <div class="notif notif--error mb2" x-bind="error" x-cloak>Message d'erreur à faire</div> #}
				<div class="gridstack mb15">
					<form action="/" method="post" class="flex" x-bind="form">
						<button class="btn btn--big btn--icoYellow w100" x-bind="button">
							{% include 'icons/plus-one.svg' %} Je fais grève
						</button>
					</form>
					<div class="notif notif--success notif--successPlusOne" x-bind="thanks" x-cloak>
						<strong class="block text-bold text-big mb1">Merci pour votre participation&nbsp;!&nbsp;✨</strong>
						<span aria-hidden="true">↓</span>&nbsp;Nous avons <a class="text-bold text-underline" href="#partager">besoin de vous</a> pour faire du <em class="text-bold">7 mars</em> une journée de mobilisation qui restera dans les mémoires&nbsp;!

					</div>
				</div>
				<a href="#partager" class="btn btn--secondary w100 mb15">
					{% include 'icons/megaphone.svg' %} Je partage le compteur
				</a>
				<a href="#savoir-plus" class="btn btn--tertiary w100 mb15">
					{% include 'icons/question.svg' %} En savoir plus
				</a>
			</div>
		</article>
	</div>
</section>

<section class="container text-center" id="partager">
	<h2 class="title-2">Partagez le site&nbsp;!</h2>

	<div class="flex flex-wrap justify-center">
		<a class="btn--social btn--invisible" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.compteurdegreve.fr%2F&text=Le%207%20mars%2C%20je%20ferai%20gr%C3%A8ve%20contre%20la%20r%C3%A9forme%20des%20retraites.%20Et%20vous%20%3F%20%20Ajoutez%20%2B1%20au%20compteur%20de%20gr%C3%A8ve%20et%20faites%20tourner%20!%20%23CompteurDeGreve" target="_blank" aria-label="Partager sur Twitter">{% include 'icons/social/twitter.svg' %}</a>
		<a class="btn--social btn--invisible" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.compteurdegreve.fr%2F" target="_blank" aria-label="Partager sur Facebook">{% include 'icons/social/facebook.svg' %}</a>
		<a class="btn--social btn--invisible" href="https://www.instagram.com/p/CpSP6Owttbo/?utm_source=ig_web_copy_link" target="_blank" aria-label="Partager sur Instagram">{% include 'icons/social/instagram.svg' %}</a>
		<a class="btn--social btn--invisible" href="https://api.whatsapp.com/send?text=*Le%207%20mars,%20je%20ferai%20gr%C3%A8ve%20contre%20la%20r%C3%A9forme%20des%20retraites.*%20Et%20vous%20%3F%20%20Ajoutez%20%2B1%20au%20compteur%20de%20gr%C3%A8ve%20et%20faites%20tourner%20%21%0Ahttps://www.compteurdegreve.fr/" target="_blank" aria-label="Partager sur Whatsapp">{% include 'icons/social/whatsapp.svg' %}</a>
		<a class="btn--social btn--invisible" href="https://telegram.me/share/url?url=https://www.compteurdegreve.fr/&text=" target="_blank" aria-label="Partager sur Telegram">{% include 'icons/social/telegram.svg' %}</a>
		<a class="btn--social btn--invisible" href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.compteurdegreve.fr%2F" target="_blank" aria-label="Partager sur LinkedIn">{% include 'icons/social/linkedin.svg' %}</a>
	</div>
</section>

<section class="container text-center" id="aider">
	<h2 class="title-2">3 actions pour aider</h2>
	<div class="flex flex-col justify-center align-items-center">
		<a class="btn btn--light mb25 md:w100" href="https://formdivers.typeform.com/to/rcucJg13" target="_blank">✉️&nbsp;<span><span class="text-bold">Envoyer un mail</span> aux collègues</span></a>
		<a class="btn btn--light mb25 md:w100" href="https://www.change.org/p/retraites-non-%C3%A0-cette-r%C3%A9forme-injuste-et-brutale-reformesdesretraites" target="_blank">✒️&nbsp;<span><span class="text-bold">Signer</span> la pétition</span></a>
		<a class="btn btn--light mb25 md:w100" href="https://www.leetchi.com/c/solidarite-cgt-mobilisation" target="_blank">❤&nbsp;<span><span class="text-bold">Faire un don</span> à une caisse de grève</span></a>
	</div>
</section>

<section class="container text-center" id="savoir-plus">
	<h2 class="title-2">En savoir plus</h2>
	<div class="flex flex-col justify-center align-items-center">
		<a class="btn btn--light mb25 md:w100" href="https://nosretraites-simulateur-cas-types.netlify.app" target="_blank">💸&nbsp;Simuler ma retraite avec la réforme</a>
		<a class="btn btn--light mb25 md:w100" href="https://greve.cool/" target="_blank">🔥&nbsp;La grève, mode d’emploi</a>
		<a class="btn btn--light mb25 md:w100" href="https://64anscestnon.org/IMG/pdf/nos_retraites_-_64_ans_janv2023_2p-1.pdf" target="_blank">📄&nbsp;Synthèse de la réforme, par Nos Retraites</a>
		<a class="btn btn--light mb25 md:w100" href="https://blogs.mediapart.fr/les-invites-de-mediapart/blog/280223/femmes-et-retraites-le-choc-s-annonce-rapide-et-brutal" target="_blank">🙅‍♀️&nbsp;Femmes et retraites, le choc s’annonce rapide et brutal</a>
	</div>
</section>
